* {
  padding: 0%;
  margin: 0;
  font-family: "Playfair Display", serif;
  color: white;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Color variables */
:root {
  --ouro-color: #b2ab8c;
  --background-color: #003638;
  --white: #fff;
}

.wrap {
  display: flex;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
}

header {
  display: flex;
  width: 100%;
  padding: 20px 0;
  background-color: var(--white);
  border-bottom: 6px solid var(--ouro-color);
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: #f3f2c9; */
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  height: 80px;
}
.title--plenario {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  padding: 30px 5%;
  /* background-color: green; */
}

.title--plenario h1 {
  font-size: 3.5em;
  color: var(--ouro-color);
  font-weight: 100;
  margin-bottom: 0.2em;
}
.title--plenario p {
  font-size: 1em;
  color: var(--ouro-color);
}

.editions {
  width: 50%;
  align-items: center;
  justify-content: center;
}

.title--plenario h3 {
  font-size: 1em;
  font-weight: 100;
  margin-top: 30px;
  font-kerning: 1em;
  color: var(--white);
  letter-spacing: 0.05em;
}

footer {
  text-align: center;
}
.current-edition {
  display: flex;
  height: 100%;
  padding: 25% 0;
  align-items: center;
  justify-content: center;
}
.current-edition img {
  width: 300px;
  box-shadow: 10px 10px 10px rgb(40, 39, 39);
}

footer {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--ouro-color);
  align-items: flex-end;
  justify-content: center;
}

/* botao */
.btn {
  display: flex;
}
.btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  text-align: center;
  width: 200px;
  height: 70px;
  margin-top: 30px;
  background-color: var(--ouro-color);
}
.copyright {
  padding: 10px;
  font-size: 12px;
  color: var(--background-color);
}
.copyright span {
  color: var(--background-color);
  font-weight: 600;
}

/* Media query */

@media all and (max-width: 960px) {
  body {
    flex-direction: column;
    height: 100%;
  }
  .wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .title--plenario {
    width: 100%;
    align-items: center;
  }
  /* footer {
    flex-direction: column;
  } */
  .editions {
    width: 100%;
  }
  footer {
    position: relative;
    bottom: 0;
  }
  .current-edition {
    padding: 36px 0;
  }
}
